<div id="features" class="features-box">
	<div class="item_box safe_area">
		<div class="background">
			<span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
		</div>
		<div class="menu_background">
			<span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
		</div>

		
		<div class="content feature1" style="display: none;">
		    
			    <img src="/images/dynamic/feature_publishOnce_v6.jpg" alt="Web mobile social">
			
			<h2 class="regular_text">Publish once, be everywhere</h2>
            
                <p>Your audience expects to find you everywhere, via their PCs, mobiles, tablets and social networking sites. Our new HTML5-powered website builder takes care of this for you. And all for free!</p>
            
                <p>Design your site on your computer and we'll make sure it looks the way it should on all platforms and devices, including iPhones, iPads and other smartphones and tablets. We even automatically optimise your site for search engines (SEO) and make it easy for you to share your content and products on social sites such as Facebook with built-in sharing features.</p>
            
			<p>
                
                
                
            </p>
		</div>
		<h3 class="medium_text">
			<a class="tab feature1" href="#" data-tab-id="feature1">
                <span class="highlight_edge highlight_edge_top"></span>
                <span class="highlight highlight_top"></span>
                <span class="highlight_pointer highlight_pointer_top"></span>
                <span class="icon iconp iconp_8"></span>
                <span class="title two_lines title_1">
                    <span class="up">Web, mobile,<br>social</span>
                    <span class="over">Web, mobile,<br>social</span>
                </span>
            </a>
		</h3>

		
		<div class="content feature2 hidden_at_start" style="display: none;">
		    
			    <img src="/images/dynamic/feature_everythingYouNeed_v6.jpg" alt="Everything you need">
			
			<h2 class="regular_text">Go live in minutes</h2>
            
                <p>Our free website builder provides everything you need to get your site up and running, from web hosting and templates to the shop and add-on features such as video widgets, image gallery tools and Google Maps.</p>
            
                <p>You'll also find plenty of advice and inspiration from us and our community on our <a href="http://www.moonfruit.com/blog/">blog</a>, our <a href="http://www.moonfruit.com/support/">forum</a>, and our Facebook, Twitter, Pinterest and Google+ pages. You'll never be short of like-minded people and industry experts to mingle with.</p>
            
			<p>
                
                
                
            </p>
		</div>
		<h3 class="medium_text">
			<a class="tab feature2" href="#" data-tab-id="feature2">
                <span class="highlight_edge highlight_edge_top"></span>
                <span class="highlight highlight_top"></span>
                <span class="highlight_pointer highlight_pointer_top"></span>
                <span class="icon iconp iconp_2"></span>
                <span class="title two_lines title_1">
                    <span class="up">Everything<br>you need</span>
                    <span class="over">Everything<br>you need</span>
                </span>
            </a>
		</h3>

		
		<div class="content feature3 hidden_at_start" style="display: block;">
		    
			    <img src="/images/dynamic/feature_setupShop_v6.jpg" alt="Startin a shop">
			
			<h2 class="regular_text">Start sharing and selling</h2>
            
                <p>You can make an online shop with Moonfruit in just a few easy steps. Select and customise your template, choose your settings, add your product details, then start selling - <br>it really is as easy as that!</p>
            
                <p>You can push your products on Facebook and other social streams while customers 'like' and 'tweet' their browsing and buying habits, spreading the word about your business. It's even free, unless you decide to beef things up a bit with one of our premium packages (more on those later).</p>
            
			<p>
                
                <a href="http://player.vimeo.com/video/35771572?byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" class="ifbox size_640x360 feature_link">
                    <span class="goto_left"></span>
                    <span class="goto">Watch the video</span>
                    <span class="goto_right"></span>
                </a>
                
                
                
            </p>
		</div>
		<h3 class="medium_text">
			<a class="tab feature3 selected" href="#" data-tab-id="feature3">
                <span class="highlight_edge highlight_edge_top"></span>
                <span class="highlight highlight_top"></span>
                <span class="highlight_pointer highlight_pointer_top"></span>
                <span class="icon iconp iconp_6"></span>
                <span class="title title_1">
                    <span class="up">Setting up shop</span>
                    <span class="over">Setting up shop</span>
                </span>
            </a>
		</h3>

		
		<div class="content feature4 hidden_at_start" style="display: none;">
		    
			    <img src="/images/dynamic/feature_designControl_v6.jpg" alt="Design control">
			
			<h2 class="regular_text">Create your identity</h2>
            
                <p>You don't need to hire a web designer to create a brand and identity for your site. Our website builder offers a huge range of templates, backgrounds, images and fonts to choose from. And our easy-to-use drag-and-drop software gives you complete control over how you choose to customise them.</p>
            
                <p>You can showcase images in our Lightbox gallery, layer them, crop and make them transparent, choose from hundreds of fonts and colours - wherever your vision takes you. Who would've thought a free website builder would be this good?</p>
            
			<p>
                
                
                
            </p>
		</div>
		<h3 class="medium_text">
			<a class="tab feature4" href="#" data-tab-id="feature4">
                <span class="highlight_edge highlight_edge_top"></span>
                <span class="highlight highlight_top"></span>
                <span class="highlight_pointer highlight_pointer_top"></span>
                <span class="icon iconp iconp_1"></span>
                <span class="title title_1">
                    <span class="up">Design control</span>
                    <span class="over">Design control</span>
                </span>
            </a>
		</h3>

		
		<div class="content feature5 hidden_at_start" style="display: none;">
		    
			    <img src="/images/dynamic/feature_contentShare_v6.jpg" alt="Content traffic customers">
			
			<h2 class="regular_text">Content = shares = visitors</h2>
            
                <p>Good content gets shared. Sharing gets visitors. You get traffic. Done well, articles, images and videos can create the kind of goodwill for your site that money can't buy.</p>
            
                <p>Our website builder makes this easy, so you can engage with your audience without spending a penny. Consider it free advertising - a good excuse to update your site regularly and push content on social media. We've also added Google Analytics and Google Webmaster Tools so you can track your visitors, see what's popular and build on that success.</p>
            
			<p>
                
                
                
            </p>
		</div>
		<h3 class="medium_text">
			<a class="tab feature5" href="#" data-tab-id="feature5">
                <span class="highlight_edge highlight_edge_top"></span>
                <span class="highlight highlight_top"></span>
                <span class="highlight_pointer highlight_pointer_top"></span>
                <span class="icon iconp iconp_7"></span>
                <span class="title two_lines title_1">
                    <span class="up">The power<br>of content</span>
                    <span class="over">The power<br>of content</span>
                </span>
            </a>
		</h3>

		
		<div class="content feature6 hidden_at_start" style="display: none;">
		    
			    <img src="/images/dynamic/feature_premium_v6.jpg" alt="Premium packages">
			
			<h2 class="regular_text">More space, more content, more visitors</h2>
            
                <p>Looking for more?</p>
            
                <p>As you've seen, our free website builder is pretty splendid. But if you want a little more sprinkled on top, we have just the ticket.</p>
            
                <p>With our paid-for packages you can have numerous sites, more disk space, free domain names, more products, mobile checkout, numerous site administrators, Getty Images - tempting hey?</p>
            
			<p>
                
                
                <a href="/pricing" class="feature_link">
                    <span class="goto_left"></span>
                    <span class="goto">Find out more</span>
                    <span class="goto_right"></span>
                </a>
                
                
            </p>
		</div>
		<h3 class="medium_text">
			<a class="tab feature6" href="#" data-tab-id="feature6">
                <span class="highlight_edge highlight_edge_top"></span>
                <span class="highlight highlight_top"></span>
                <span class="highlight_pointer highlight_pointer_top"></span>
                <span class="icon iconp iconp_4"></span>
                <span class="title two_lines title_1">
                    <span class="up">Premium<br>packages</span>
                    <span class="over">Premium<br>packages</span>
                </span>
            </a>
		</h3>

	</div>
</div>