<div class="container">
    <div class="row panel-footer">
      <div class="col-sm-6">
        <h4>Sign up for our<br>email updates</h4>
        <p>Stay up to date with our whitepapers, articles, webinars and invitations to special events.</p>
        <p>You may remove consent at any time.</p>
        <div id="signup-form">
          <input class="signup-field" id="footerEmail" type="text" value="Email Address" onfocus="if(this.value == 'Email Address') { this.value = ''; }">
          <input type="hidden" name="CheckBox.Marketing.Source-Footer-Miniform" value="on"/>
          <input class="signup-submit" id="footerSubmit" type="image" src="/images/bgd-submit-icon.png" alt="Submit" >
          <div style="clear:both;"></div>
        </div>
          <p id="responseNotification" style="display:none;"></p>
      </div>
      <div class="footer-module">
        <h4>Stay connected<br>
          with Listrak</h4>
        <div id="social-icons">
        	<a href="http://blog.listrak.com/" target="_blank" onclick="ga('send', 'event', 'Social Links', 'Outbound Click', 'Tumblr');" ><img src="/images/img-social-tumblr.png" alt="Tumblr" class="tumblr"/></a>
          <a href="http://twitter.com/Listrak/" target="_blank" onclick="ga('send', 'event', 'Social Links', 'Outbound Click', 'Twitter');"><img src="/images/img-social-twitter.png" alt="Twitter" class="twitter"/></a>
          <a href="https://plus.google.com/115146960103342357552?rel=author" target="_blank" onclick="ga('send', 'event', 'Social Links', 'Outbound Click', 'Google+');"><img src="/images/img-social-google.png" alt="Google+" class="google"/></a>
          <a href="http://www.linkedin.com/companies/listrak" target="_blank" onclick="ga('send', 'event', 'Social Links', 'Outbound Click', 'LinkedIn');"><img src="/images/img-social-linkedin.png" alt="LinkedIn" class="linkedin"/></a>
          <a href="http://on.fb.me/WhOzoA" target="_blank" onclick="ga('send', 'event', 'Social Links', 'Outbound Click', 'Facebook');"><img src="/images/img-social-facebook.png" alt="Facebook" class="facebook"/></a>
          <a href="http://www.youtube.com/user/listrak" target="_blank" onclick="ga('send', 'event', 'Social Links', 'Outbound Click', 'Youtube');"><img src="/images/img-social-youtube.png" alt="YouTube" class="youtube"/></a>
          <a href="http://blog.listrak.com/rss" target="_blank" onclick="ga('send', 'event', 'Social Links', 'Outbound Click', 'RSS Feed');"><img src="/images/img-social-rss.png" alt="RSS" class="rss"/></a>
        </div>
      </div>
      <div class="footer-module">
        <h4>Affiliations and acknowledgements</h4>
        <div id="assc-logos">
          <a href="//privacy.truste.com/privacy-seal/Listrak,-LLC/validation?rid=a194709b-fd3c-4fe2-a657-c6de0adb0d6e" target="_blank"><img src="/images/img-assc-truste.jpg" alt="TRUSTe" class="truste"/></a>
          <a href="http://www.espcoalition.org/" target="_blank"><img src="/images/img-assc-espc.jpg" alt="ESPC" class="espc"/></a>
          <a href="http://www.maawg.org/" target="_blank"><img src="/images/img-assc-maawg.jpg" alt="MAAWG" class="maawg"/></a>
          <div style="clear:both;"></div>
          <a href="http://www.shop.org/" target="_blank"><img src="/images/img-assc-shop.jpg" alt="Shop.org" class="shop-org"/></a>
          <a href="http://www.nrf.com/" target="_blank"><img src="/images/img-assc-nrf.jpg" alt="NRF" class="nrf"/></a>
          <a href="http://www.emailexperience.org/" target="_blank"><img src="/images/img-assc-eec.jpg" alt="EEC" class="eec"/></a>
          <a href="https://otalliance.org/" target="_blank"><img src="/images/img-assc-ota.jpg" alt="OTA" class="ota"/></a>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
  </div>
  <div class="row panel-footer">
    <div class="bottom-footer-inner">
      <img src="/static/images/favicon.ico" alt="Kokray" />
      <ul>
        <li><a href="/digital-marketing-solutions/">Omnichannel Solutions</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/clients/">Clients</a></li>
        <li><a href="/resources/">Resources</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
      <div style="clear:both"></div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="bottom-footer-inner">
      <p>&copy; 2014 Listrak. All rights reserved.</p>
      <ul class="legal-links">
        <li><a href="/copyright-infringement-notification.aspx">Copyright Notification</a></li>
        <li><a href="/privacy.aspx">Privacy Policy</a></li>
        <li><a href="/acceptable-use.aspx">Acceptable Use Policy</a></li>
      </ul>
      <div style="clear:both"></div>
    </div>
  </div>
</div>
